
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #ffff7d;
}

A:ACTIVE,A:LINK, A:VISITED{
	color : #006400;
}
a:hover {
	color: Black;
	text-decoration : none;
}
.navi {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	border : 1px solid Black;
	background-color : #03d215;
	padding-left : 5px;
	padding-right : 5px;
	padding-bottom : 2px;
	padding-top : 2px;
	color: #006400;
}

.rootnavi {
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 2px;
        border : 1px solid red;
        background-color : #03d215;
        padding-left : 5px;
        padding-right : 5px;
        padding-bottom : 2px;
        padding-top : 2px;
}

.banner {
	border-bottom : 1px solid Black;
}
.header {
	font-size: 10px;
}
.footer {  
	font-size: 10px; 
	text-transform: lowercase
}
.row1 {
	background : #03d215;
	vertical-align : top;
}
.row2 {
	background : #95f87b;
	vertical-align : top;
}

H3 {
	font-size : 15px;
	font-weight : bold;
	text-decoration : underline;
	text-transform : uppercase;
}

TH {
	font-size : 13px;	
	font-weight : bold;
	color : #ffffff;
	background : #006400;
	letter-spacing : 2px;
	word-spacing : 3px;
	padding-left : 5px;
	padding-right : 5px;
}

.th_a:active, .th_a:link, .th_a:visited {
	color : #ffffff;
}

.th_a:hover {
	color: #ffffff;
}

TD {
	font-size : 12px;
}


.inputfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:right;
	width
	cursor: ne-resize;
//	border-left:1px #eeeeee solid;
//	border-right:1px #eeeeee solid;
//	border-top:1px #eeeeee solid;
//	border-bottom:1px #000000 solid;
	background : #c5cec5;
	color : #ffffff;
	font-weight: bold;
}

.selectfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:right;
	width
	cursor: ne-resize;
//	border-left:1px #eeeeee solid;
//	border-right:1px #eeeeee solid;
//	border-top:1px #eeeeee solid;
//	border-bottom:1px #000000 solid;
	background : #c5cec5;
	color : #ffffff;
	font-weight: bold;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:right;
	width
	cursor: ne-resize;
//	border-left:1px #eeeeee solid;
//	border-right:1px #eeeeee solid;
//	border-top:1px #eeeeee solid;
//	border-bottom:1px #000000 solid;
	background : #c5cec5;
	color : #ffffff;
	font-weight: bold;
}

.quota_table {
	border: solid 1px black;
	background-color: white;
	padding: 3 0 3 0;
	margin-bottom: 2;
	border-spacing: 0;
}

.quota_td {
	width: 100px;
	height: 15px;
	text-align: center;
	padding: 0;
	margin: 0;
}
